<table>
    <tbody>
        <tr>
            <td><h4>{{mechanic.lastName}}, {{mechanic.firstName}} (hired {{mechanic.hireDate.toLocaleDateString()}}, {{getYearsSinceHired()}} years)</h4></td>
            <button *ngIf="editMode && !doEdit" (click)="doEdit=true" class="btn btn-primary">Edit</button>
            <button *ngIf="doEdit || isNew" (click)="changeMechanic()" class="btn btn-primary">Done</button>
        </tr>
    </tbody>
</table>

<div *ngIf="doEdit || isNew">
    <table>
        <tbody>
          <tr>
            <td><input type="text" [(ngModel)]="mechanic.lastName" name="lastName"></td>
            <td><input type="text" [(ngModel)]="mechanic.firstName" name="firstName"></td>
            <td>
                <input type="date" [valueAsDate]="mechanic.hireDate" (input)="mechanic.hireDate=parseDate($event)" />
            </td>
           </tr>
        </tbody>
        </table>
</div>
